.forgot-password-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75)
}

.forgot-password-inner {
  margin: auto;
  background: #3f3f3f;
  width: 754px;
  height: 559px;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  background-color: #5d5c5c;
}

.close-image {
  margin-right: 20px;
}

.forgot-section {
  margin: auto;
}

section div {
  margin: 20px 100px 0 100px;
  display: flex;
  align-items: center;
}

.forgot-image {
  justify-content: center;
}

.forgot-title {
  font-family: Oswald;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 55px;
  color: #ff6825;
}

.forgot-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.7;
}

.forgot-label {
  display: block;
  font-family: Oswald;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 55px;
  color: #fefefe;
  opacity: 0.8;
}

.forgot-input {
  margin: 0px;
  height: 52px;
  width: 100%;
  color: black;
  font-size: 16px;
  background: #e9e4e4;
  opacity: 0.8;
}

.forgot-button-section {
  display: flex;
  justify-content: flex-end;
}

.forgot-button {
  width: 210px;
  height: 48px;
  background: #ff6825;
}

.forgot-button-title {
  font-family: Oswald;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 14px;
  color: #ffffff;
  border-radius: 8px;
}
