.cart-popup {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.cart-popup-inner {
  margin: auto;
  background: #ffffff;
  width: 754px;
  height: 559px;
}
table {
  margin-top: 20px;
  width: 100%;
  display: table;
}

tbody {
  margin-top: 20px;
}

th {
  background: #e6e2e2;
}

td {
  vertical-align: middle;
  text-align: center;
}

table.cart-table {
  border-collapse: collapse;
}

.cart-row {
  border: 1px solid #b3b3b3;
}
.cart-th {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  opacity: 0.5;
}

.cart-book-image {
  box-shadow: -25px -5px 10px #888888;
}

.cart-total-price {
  font-family: Oswald;
  font-size: 24px;
  line-height: 33px;
  text-transform: uppercase;
}

.total-price {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 55px;
  color: #ff6825;
}

.cart-cancel-button {
  border: 2px solid #f9621f;
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  position: relative;
  padding: 0px 12px;
  display: block;
  height: 30px;
  line-height: 30px;
  font-weight: bold;
  border-radius: 4px;
  color: #848383;
  width: 30%;
}

.cart-buy-btn {
  width: 30%;
}

.StripeCheckout {
  width: 30%;
  background-image: linear-gradient(#f9621f, #f9621f, #f9621f) !important;
  background-color: #f9621f !important;
  background: #f9621f;
}

.StripeCheckout span {
  background-image: none !important
}

.cart-book-title {
  font-family: Oswald;
  font-size: 28px;
  line-height: 38px;
  text-transform: capitalize;
  color: #3e3939;
}

.cart-unit-price {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 55px;
  color: #615f5f;
}

.tr-amount {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 55px;
  color: #ff6825;
}
