.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  // margin-bottom: 30px;
  label {
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
  }
  button {
    background-color: #50355e;
    color: #fff;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  input {
    width: 400px;
    border-radius: 7px;
    font-size: 20px;
    background: #ff6825;
    color: #ffffff;
    outline: none;
    border: transparent;
    &::placeholder {
      color: #707273;
    }
  }
}
