.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
  }
  .popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: #3F3F3F;
    height: 500px;
  }

.up-border {
    position: absolute;
    width: 1401px;
    height: 48px;
    left: 260px;
    top: 274px;
    background: #5D5C5C;
}

.modal-header {
    background: #5D5C5C;
}

.add-product-title {
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 43px;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #FF6825;
}

.modal-body {
    background: #3F3F3F;
}

.create-title-label {
    position: absolute;
    left: 4.59%;
    right: 79.74%;
    top: 20.28%;
    bottom: 68.92%;
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 55px;
    text-transform: capitalize;
    color: #FEFEFE;
    opacity: 0.7;
}

.create-title-form {
    position: absolute;
    left: 15.3%;
    right: 52.86%;
    top: 20.75%;
    bottom: 65.03%;
    background: #868686;
    opacity: 0.3;
}

.create-foto {
    position: absolute;
    left: 60.59%;
    right: 25.74%;
    top: 20.28%;
    bottom: 65.92%;
    
}

.process__image {
    width: 50px;
    height: 50px;
}

.change-foto-label {
    left: 55.59%;
    right: 30.74%;
    top: 45.28%;
    bottom: 45.92%;
}

.create-discription-label {
    position: absolute;
    left: 0%;
    right: 79.74%;
    top: 55.28%;
    bottom: 50.92%;
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 55px;
    text-transform: capitalize;
    color: #FEFEFE;
    opacity: 0.7;
}

.create-discription-form {
    position: absolute;
    left: 15.3%;
    right: 52.86%;
    top: 45.75%;
    bottom: 20.03%;
    background: #868686;
    opacity: 0.3;
}

.create-category-label {
    position: absolute;
    left: 51.56%;
    right: 43.96%;
    top: 42.78%;
    bottom: 54.27%;
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 55px;
    text-transform: capitalize;
    color: #FEFEFE;
    opacity: 0.7;
}

.create-category-form {
    position: absolute;
    width: 200px;
    left: 62.04%;
    right: 2.21%;
    top: 45.78%;
    bottom: 48.27%;
    background: #868686;
    opacity: 0.3;
}

.create-authors-label {
position: absolute;
left: 51.56%;
right: 46.15%;
top: 51.24%;
bottom: 49.05%;
font-family: Oswald;
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 55px;
text-transform: capitalize;
color: #FFFFFF;
opacity: 0.8;
}

.create-authors-form {
    position: absolute;
    width: 200px;
    left: 62.04%;
    right: 2.21%;
    top: 54.78%;
    bottom: 39.51%;
    background: #868686;
    opacity: 0.3;
}

.create-price-label {
    position: absolute;
    left: 51.56%;
    right: 46.15%;
    top: 62.24%;
    bottom: 40.05%;
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 55px;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.8;
}

.create-price-form {
    position: absolute;
    width: 200px;
    left: 62.04%;
    right: 2.21%;
    top: 65.78%;
    bottom: 29.11%;
    background: #868686;
    opacity: 0.3;
}

.create-currency-label {
    position: absolute;
    left: 51.56%;
    right: 46.15%;
    top: 72.24%;
    bottom: 40.05%;
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 55px;
    text-transform: capitalize;
    color: #FFFFFF;
    opacity: 0.8;
}

.create-currency-form {
    position: absolute;
    width: 200px;
    left: 62.04%;
    right: 50.21%;
    top: 75.78%;
    bottom: 20.11%;
    background: white;
    opacity: 0.3;
}

.create-cancel-button {
    position: absolute;
    left: 20.43%;
    right: 68.41%;
    top: 84.58%;
    bottom: 7.94%;
    height: 30px;
    width: 100px;
    background-color: #3F3F3F;
    border: 2px solid #F9621F;
}

.create-cansel-label {
    position: absolute;
    left: 20.44%;
    right: 50.76%;
    top: 49.22%;
    bottom: 49.44%;
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #B9B8B7;
}

.create-save-button {
    position: absolute;
    right: 20.43%;
    left: 68.41%;
    top: 84.58%;
    bottom: 7.94%;
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    background-color: #FF6825;
    height: 30px;
    width: 100px;
}

.create-save-label {
    position: absolute;
    left: 30.94%;
    right: 50.69%;
    top: 50.8%;
    bottom: 50.46%;
    font-family: Oswald;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
}