.inputLabel {
    color: blueviolet;
}

.closeCross {
    text-align: left;
}

.modalWindows{
    position: absolute;
    width: 1919px;
    height: 2148px;
    left: 0px;
    top: 0px;
    background: rgba(245, 247, 250, 0.6);
    }
    
    .modalContent {
    margin-top: 130px;
    margin-left: 632px;
    margin-right: 720;
    margin-bottom: 1243px;
    position: absolute;
    width: 755px;
    height: 772px;
    left: 117px;
    top: -36px;
    
    background: #3F3F3F;
    }