.header {
    position: absolute;
    width: 1920px;
    height: 60px;
    left: 0px;
    top: 0px;
    
    background: #333333;
}

.signInButton {
    position: absolute;
    left: 88.96%;
    right: 10.11%;
    top: 4.98%;
    bottom: 94.23%;
    background-color: #333333;
}

.signIn {
    position: absolute;
    left: 85.96%;
    right: 13.11%;
    top: 4%;
    bottom: 94.23%;
    color: white;
}

.bookLogo {
    position: absolute;
    width: 113px;
    height: 50px;
    left: 140px;
    top: 21px;
}