.profile-container {
  height: 650px;
  margin: auto;
  background-color: #3f3f3f;
}

.profile-wrapper {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.profile-title {
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 55px;
  color: #fb7134;
  justify-self: right;
}

.profile-photo {
  border: 1px solid #fb7134;
  margin: 50px 40px ;
  padding: 20px;
  justify-self: right;
}

.edit-profile {
  padding: 4px;
}

.profile-inputs {
  justify-self: center;
  margin-top: 30px;
}

.profile-inputs .edit {
  margin: 0px;
}

.change-password-toggle {
  cursor: pointer;
  margin-top: 5%;
  color: rgb(143, 68, 68);
  padding: 10px;
}

.profile-input {
  width: 320px;
  height: 20px;
  background-color: #868686
}

.input-container {
  width: 250px;
  padding: 10px;
}

.profile-input-label {
  font-family: Oswald;
  font-style: normal;
  font-weight: 600;
  text-transform: capitalize;
  color: #fefefe;
}

.profile-buttons {
  justify-self: center;
}

.profile-cansel-button {
  margin-right: 5px;
  font-family: Oswald;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  height: 30px;
  width: 150px;
  color: #ffffff;
  background-color: #3f3f3f;
  border: 2px solid #f9621f;
}

.profile-save-button {
  font-family: Oswald;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  background-color: #ff6825;
  border: 2px solid #f9621f;
  height: 30px;
  width: 150px;
}

.confirm-validate {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  color: red;
}
