.title {
  color: red;
  margin-top: 20%;
}

.remove-modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.remove-modal-inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: #3f3f3f;
  width: 400px;
  height: 200px;
}

.remove-title {
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-top: 10%;
  margin-left: 20%;
  bottom: 30%;
  display: flex;
  text-transform: capitalize;
  color: #ff6825;
}

.remove-cancel-button {
  position: absolute;
  left: 20.43%;
  right: 68.41%;
  top: 84.58%;
  bottom: 7.94%;
  height: 30px;
  width: 100px;
  background-color: #3f3f3f;
  border: 2px solid #f9621f;
}

.remove-button {
  position: absolute;
  right: 20.43%;
  left: 68.41%;
  top: 84.58%;
  bottom: 7.94%;
  font-family: Oswald;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  background-color: red;
  height: 30px;
  width: 100px;
}

.remove-label {
  position: absolute;
  left: 20.94%;
  right: 60.69%;
  top: 50.8%;
  bottom: 50.46%;
  font-family: Oswald;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  background-color: #3f3f3f;
}

.value {
  margin-left: 5%;
  color: white;
}
