.selected-section-left {
  background-color: #f9f9f9;
  height: 600px;
  width: 600px;
  justify-content: center;
}

.selected-img {
  box-shadow: -25px -5px 10px #888888;
}

.selected-section-right {
  display: block;
  padding: 50px;
}

.product-title {
  font-family: Oswald;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 20px;
}

.product-authors {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100px;
}

.product-quantity {
  display: flex;
  justify-content: space-around;
}

.product-quantity-label {
  font-family: Oswald;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ff6825;
}
.select-qty {
  background: #f9f9f9;
  border: 1px solid #dfdfdf;
  box-sizing: border-box;
}

.product-total-price {
  color: #ff6825;
  font-family: Oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 55px;
}

.cart-button {
  display: flex;
  width: 100%;
  height: 60px;
  align-items: center;
  justify-content: space-evenly;
}

.button-title {
  font-family: Oswald;
  font-size: 18px;
  line-height: 20px;
}
