.author-page {
  margin-top: 5%;
}

.author-header {
  margin-top: 10;
}

.author-add-image {
  /* margin-top: 8%; */
  margin-left: 84%;
  margin-right: 10%;
  width: 25px;
  height: 25px;
}

.authors-table {
  margin-top: 7%;
}

.authors-title {
  position: absolute;
  left: 7.24%;
  right: 67.76%;
  top: 19.77%;
  bottom: 82.13%;
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  color: #343434;
}

.author-body {
  /* margin-left: 1%; */
  margin: 2%;
  /* margin-right: 80%; */
}

.search-bar {
  margin: 0;
  float: left;
}

.author-create {
  margin: 0;
  float: right;
}
